<table width="40%" border="0" cellspacing="0" cellpadding="0" align="center" style="border:1px solid #92b6ba;font-family: 'Cinzel', serif;
  font-family: 'Noto Serif TC', serif;">
  <tr>
    <th style="background-color: #92b6ba;height: 80px;;color: white;font-family: 'Cinzel', serif;
    font-family: 'Noto Serif TC', serif;">
      <h1 style="display: inline;">競標得標通知</h1>
    </th>
  </tr>
  <tr>
    <td align="center" style="padding-top:10px;padding-bottom:10px;color:#615956;font-family: 'Cinzel', serif;
    font-family: 'Noto Serif TC', serif;">
      恭喜您為這次的得標者
    </td>
  </tr>
  <tr>
    <td align="center" style="padding-top:10px;padding-bottom:10px;color:#615956;font-family: 'Cinzel', serif;
    font-family: 'Noto Serif TC', serif;">
      得標金額將全數捐出做公益！
    </td>
  </tr>
  <tr>
    <td align="center" style="padding-top:10px;padding-bottom:10px;font-family: 'Cinzel', serif;
    font-family: 'Noto Serif TC', serif;">
      <a style="color: #fcaa3e;text-decoration: none;" href=http://localhost:3008>按這裡至官網查看</a>
    </td>
  </tr>
  <tr>
    <td align="center" style="padding-top:10px;padding-bottom:10px;">
    </td>
  </tr>
  <tr>
    <td align="center" style="padding-top:10px;padding-bottom:10px;">
    </td>
  </tr>
  <tr>
    <td align="center" style="padding-top:10px;padding-bottom:10px;">
    </td>
  </tr>
  <tr>
    <td align="center" style="padding-top:10px;padding-bottom:10px;">
    </td>
  </tr>
  <tr>
    <td align="center" style="padding-top:10px;padding-bottom:10px;">
    </td>
  </tr>
  <tr align="center" style="padding-top:10px;padding-bottom:10px;color:#615956;font-family: 'Cinzel', serif;
  font-family: 'Noto Serif TC', serif;">
    <td>Copyright © 2021 Utsuwa Inc.</td>
  </tr>
</table>